<!--
  Generated template for the AddChild page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title><img src="assets/icon.png" alt=""> <span>Add User</span> </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding id="add-child">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="loading...">
    </ion-refresher-content>
  </ion-refresher>
  <form [formGroup]="addChildForm">

    <ion-grid>
      <ion-row>
        <ion-col text-center>
          <ion-select formControlName="relation_type" full>
            <ion-option selected value="-">Select a relationship type</ion-option>
            <ion-option  value="personal">Personal</ion-option>
            <ion-option value="work">Work</ion-option>
          </ion-select>
        </ion-col>
      </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
                <ion-input type="email" formControlName="child_email" placeholder="Email Address of Contact"></ion-input>
            </ion-item>
              <span [hidden]="addChildForm.valid" class="error">Please input valid email address</span>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-12>
            <div padding>
              <button ion-button [disabled]='!addChildForm.valid' (click)="addChild()"  class="taskBtn" full>Add User</button>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-12>
            <h4><ion-icon name="contacts"></ion-icon><span>&nbsp;Contacts</span></h4>
            <h5 class="invite" [hidden]="contactsList.length>0">Invite your contacts</h5>
            <ion-list>
                <ion-item *ngFor="let contact of contactsList">
                    <p item-left>{{contact.first_name}}&nbsp;{{contact.last_name}}</p>
                    <button item-right ion-button icon-left (click)="add_contact(contact._id)"id="add-contact"><ion-icon name="person-add"></ion-icon>add</button>
                </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
    </ion-grid>


  </form>
</ion-content>
