#add-child ion-select{
  margin: auto;
  margin-bottom: 10px;
  min-width: 90% !important;
}
#add-child h3{
    text-align: center;
    font-weight: bold;
}

#add-child h4{
  text-decoration: none;
  font-weight: normal;
}

#add-contact{
  background-color:  #087cc9;
}
 .invite{
  color: gray;
  font-style: italic;
}

#add-contact ion-col[col-4] {
  height: 50% !important;
  color:red !important;
}
