<!--
  Generated template for the Invitation page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title><img src="assets/icon.png" alt=""> <span>Invitations</span> </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding id="invitations">

  <ion-list>
    <ion-item *ngFor="let invitation of invitations">
      <ion-row>
        <ion-col col-12>
          <img [src]="_DomSanitizationService.bypassSecurityTrustUrl(invitation.from.avatar)">
          <h2>{{invitation.from.first_name}}&nbsp;{{invitation.from.last_name}}</h2>
          <p>{{invitation.relation}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <button ion-button full (click)="performInvitation(invitation._id,1,invitation.from._id)" color="secondary">Accept</button>
        </ion-col>
        <ion-col col-6>
          <button ion-button full (click)="performInvitation(invitation._id,0,invitation.from._id)"color="danger">Reject</button>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>
