
.customIcon{
  color:#FFF;
  font-size: 40px;
  font-weight: bolder;
}
.dashBtn{
  background-color: #087cc9;
  //box-shadow: none;
  color: #FFF;
  height: 40px;
  font-weight: bold;
  font-size: 30px;
}
.calBtn{
  box-shadow: none;
  background-color: transparent;
  font-weight: bold;
  height: 50px;
}

.calBtn .customIcon{
  color:#087cc9;

}
#addIcon{

  background-color: white;
  max-width: 30px;
  max-height: 30px;
  border-radius: 50%;
  //border: 2px solid #087cc9;
}
.addIcon2{
  border-radius: 50%;
  border:1px solid #087cc9;
  //background-color: white;
  padding: 3px;
  width: 50px;
  height: 50px;
}
.addIcon2 img{
  display: block;
  text-align: center;
  width: 24px;
  height: 24px;
  margin: 22% auto;
}

.advert{
  border: 1px solid transparent;
  border-radius: 10px;
  width: 100%;
  height: 90px;
}
#viewMyTasks{
  margin-top: 20px;
  display: block;
  float: right;
  font-weight: bold;
}

#childPoints,#childPoints span{
  margin-top: 30px;
  text-align: center;
  color:#087cc9;
}

#childPoints span{
  display: block;
  margin-top: 10px;
  font-weight: bold;
}
ion-list-header{
  background-color: #f2f2f2 !important;
  border: none !important;
  font-weight: bold !important;
}
