<!--
  Generated template for the Dashboard page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><img src="assets/icon.png" alt=""> <span>Home</span> </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="loading...">
    </ion-refresher-content>
  </ion-refresher>
  <a [hidden]="!current_adv" href="#" (click)="open_url(current_adv_link)"><img  class="advert" [src]="_DomSanitizationService.bypassSecurityTrustUrl(current_adv)" alt=""></a>
  <ion-grid>
      <ion-row>
        <ion-col>
            <button  ion-button  class="calBtn" (click)="createTask()" icon-right color="light">Create Task&nbsp; <img id="addIcon" src="assets/images/add.png" alt=""></button>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="personal_childern.length==0">
        <ion-col col-6>
          <button  ion-button  class="calBtn"  (click)="addChild()" icon-left color="light"><span class="addIcon2"><img src="assets/images/add2.png" alt=""></span>&nbsp;&nbsp;&nbsp;Add Person</button>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="personal_childern.length!=0">
        <ion-col col-12>
            <ion-list>
              <ion-list-header>
                Personal
              </ion-list-header>
              <ion-item *ngFor="let child of personal_childern" (click)="childReport(child._id,child.avatar)">
                <ion-avatar item-left>
                  <img [src]="_DomSanitizationService.bypassSecurityTrustUrl(child.avatar)">
                </ion-avatar>
                <h2>{{child.first_name}}&nbsp;{{child.last_name}}</h2>
                <p>{{child.points}} Points</p>
              </ion-item>
            </ion-list>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="work_childern.length!=0">
        <ion-col col-12>
            <ion-list>
              <ion-list-header>
                Work
              </ion-list-header>
              <ion-item *ngFor="let child of work_childern" (click)="childReport(child._id,child.avatar)">
                <ion-avatar item-left>
                  <img [src]="_DomSanitizationService.bypassSecurityTrustUrl(child.avatar)">
                </ion-avatar>
                <h2>{{child.first_name}}&nbsp;{{child.last_name}}</h2>
                <p>{{child.points}} Points</p>
              </ion-item>
            </ion-list>
        </ion-col>
      </ion-row>

    
  </ion-grid>
</ion-content>
