#profile h3{
  text-align: center;
  font-weight: bold;
}
#profile h5{
  font-weight: bold;
  font-size: 14px;
}

#profile ion-label{
  margin-bottom: 0 !important;
}
#profile ion-grid{
  margin-top: 20px;
}
#profile ion-input,ion-select{
  background-color: #FFF;
  //border-radius: 5px;
  margin-bottom: 5px;
  border: 1px solid;
  border-color: gray;
}
#profile ion-select{
  min-width: 100%;
  border-radius: 0 !important;
}
ion-col[col-3][ion-item]{
  margin: 5px 0;
}

#profile ion-avatar img{
  width: 100%;
  height: 100%;
}

ion-col[col-5][ion-item] .item-inner{
  margin-top: -10px;
}
#firstRow .button-ios{
  min-height: 100%;
}
#firstRow{
  margin-bottom: 25px;
}


.registerBtn{
  background-color: #087cc9;
  color: #FFF;
  font-weight: bold;
  height: 50px;
  width: 60%;
  margin: 0px auto;
}

#profile ion-select,#profile ion-input{
  font-size: 13px !important;
  //font-weight: bold;
}
#thirdRow ion-select{
  font-size: 10px !important;
}
#lastRow{
  margin-top: 20px;
}
#profile .error{
  color:gray;
  font-style: italic;
  //font-weight: bold;
}
#profile .item-inner{
  border-bottom:1px solid #f2f2f2 !important;
}

ion-input[type="tel"]{
  margin-left: 5px !important;
}
#c_code{
  font-size: 11px;
}
#c_lbl{
  min-height: 100%;
  line-height: 170%;
  font-size: 14px;
  font-weight: bolder;
  //margin-left: 10px;
}
#profile ion-label{
  padding-top: 4px;
}
