<!--
  Generated template for the Home page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title><img src="assets/icon.png" alt=""> <span>Rest Password</span> </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="content">
  <form [formGroup]="resetForm">
    <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
                <ion-input type="email" formControlName="email" placeholder="Email Address"></ion-input>
            </ion-item>
              <span [hidden]="resetForm.valid" class="error">Please input valid email address</span>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-12>
            <div padding>
              <button ion-button [disabled]='!resetForm.valid' (click)="reset()"  class="taskBtn" full>Reset</button>
            </div>
          </ion-col>
        </ion-row>
    </ion-grid>
  </form>
</ion-content>
