.content {
  background-color: #f2f2f2;
}
ion-row img{
  height: 134px;
  width: 100%;
}
.homeBtn{
  background-color: #087cc9;
  color: #FFF;
  font-weight: bold;
  //border-radius: 10px;
  height: 40px;
  margin-bottom: 0;
}

.homeContent{
  height: 150px;
  padding: 10%;
  font-size: 19px;
  //color: #087cc9;
}
