<!--
  Generated template for the SignUp page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title><img src="assets/icon.png" alt=""> <span>Create An account</span> </ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding id="profile">
  <form [formGroup]="singupform">
  <ion-grid>
      <!-- First Row -->
      <ion-row id="firstRow">
        <ion-col col-7>
            <ion-item>
              <ion-input type="text" placeholder="First Name" formControlName="first_name"></ion-input>
            </ion-item>
            <span [hidden]="singupform.controls.first_name.valid" class="error">First Name is required</span>
            <ion-item>
              <ion-input type="text" placeholder="Last Name" formControlName="last_name"></ion-input>
            </ion-item>
            <span [hidden]="singupform.controls.last_name.valid" class="error">Last Name is required</span>
        </ion-col>
        <!-- Avatar Button -->
        <ion-col col-5 ion-item style="margin-top:-30px !important">
            <ion-avatar (click)="getAvatar()">
              <img [src]="_DomSanitizationService.bypassSecurityTrustUrl(base64Image)" alt="">
            </ion-avatar>
        </ion-col>
      </ion-row>

      <!-- Second Row -->
      <ion-label text-wrap><h5>Date of Birth<span> "For security verification" </span></h5></ion-label>
      <ion-row id="secondRow">
        <ion-col col-4>
          <ion-select (ionChange)="check_date()" formControlName="birth_day">
            <ion-option *ngFor="let day of days">{{day}}</ion-option>
          </ion-select>
        </ion-col>
        <ion-col col-4>
          <ion-select (ionChange)="check_date()" formControlName="birth_month">
            <ion-option *ngFor="let month of months">{{month}}</ion-option>
          </ion-select>
        </ion-col>
        <ion-col col-4>
          <ion-select (ionChange)="check_date()" formControlName="birth_year">
            <ion-option *ngFor="let year of years">{{year}}</ion-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <!-- Third Row -->
      <ion-label text-wrap><h5>Phone<span> "To easily add other users" </span></h5></ion-label>

      <ion-row id="thirdRow">
        <ion-col col-5>
          <ion-item>
             <ion-label id="c_lbl">{{c_flag}}</ion-label>
             <ion-input type="tel" value="+" id="c_code"(keyup)="get_flag($event.target.value)" formControlName="country_code"></ion-input>
           </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-input type="tel" id="phone" placeholder="Phone" formControlName="phone" ></ion-input>
          </ion-item>
          <span [hidden]="singupform.controls.phone.valid" class="error">Phone is required and unique</span>
        </ion-col>
      </ion-row>

      <!-- Fourth Row -->
      <ion-label text-wrap><h5>Email</h5></ion-label>

      <ion-row>
        <!-- Email Button -->
        <ion-col>
          <ion-item>
            <ion-input type="email" placeholder="Email Address" formControlName="email"></ion-input>
          </ion-item>
          <span [hidden]="singupform.controls.email.valid" class="error">Email is required and unique</span>

        </ion-col>

      </ion-row>

      <!-- Fourth Row -->
      <ion-label text-wrap><h5>Password</h5></ion-label>

      <ion-row>
        <!-- Email Button -->
        <ion-col>
          <ion-item>
            <ion-input type="password" placeholder="password" formControlName="password"></ion-input>
          </ion-item>
          <span [hidden]="singupform.controls.password.valid" class="error">password is required and more than 3 char</span>

        </ion-col>

      </ion-row>
      <ion-label text-wrap><h5>Gender</h5></ion-label>
      <ion-row>
        <!-- Gender Button -->
        <ion-col col-4>
          <ion-item>
            <ion-select formControlName="gender">
              <ion-option selected value="male">Male</ion-option>
              <ion-option value="female">Female</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

  </ion-grid>
</form>
  <div padding>
    <button [disabled]="!singupform.valid" ion-button block (click)="register()" class="registerBtn">Save</button>
  </div>
</ion-content>
