<!--
  Generated template for the CreateTask page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="md-menu"></ion-icon>
    </button>
    <ion-title><img src="assets/icon.png" alt=""> <span>{{operation}} Task</span> </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="createTask">
  <form [formGroup]="createTaskForm">
    <ion-grid>
        <!-- First Row -->
        <ion-row id="firstRow">
          <ion-col>
            <ion-item>
              <ion-input type="text" formControlName="title" placeholder="Task Title"></ion-input>
            </ion-item>
            <span [hidden]="createTaskForm.controls['title'].valid" class="error">task title is required</span>

          </ion-col>
        </ion-row>

        <!-- Second Row -->
        <ion-row id="secondRow">
          <ion-col>
            <ion-item>
              <textarea placeholder="Task Description" formControlName="desc" rows="8"></textarea>
            </ion-item>
          </ion-col>
        </ion-row>
        <!-- Third Row -->
        <ion-row id="thirdRow">
          <ion-col col-6>
            <ion-label>Assign to:</ion-label>
            <ion-select  formControlName="child">
              <ion-option *ngFor="let child of childern" [value]="child._id">{{child.first_name}}</ion-option>
            </ion-select>
            <span [hidden]="createTaskForm.controls['child'].valid" class="error">a child is required</span>
          </ion-col>

          <ion-col col-6 [hidden]="custom_points">
            <ion-label>Points:</ion-label>
            <ion-select  formControlName="points" (ionChange)="pointsChange($event)">
              <ion-option selected value="0">-</ion-option>
              <ion-option value="1">1</ion-option>
              <ion-option value="5">5</ion-option>
              <ion-option value="15">15</ion-option>
              <ion-option value="custom">Custom Points</ion-option>
            </ion-select>
            <span [hidden]="createTaskForm.controls['points'].valid" class="error">task points is required number</span>
          </ion-col>

          <ion-col col-6 [hidden]="!custom_points">
            <ion-label>Points:</ion-label>
            <ion-input type="text" formControlName="points" placeholder="Task Points"></ion-input>
            <span [hidden]="createTaskForm.controls['points'].valid" class="error">task points is required number</span>
          </ion-col>
        </ion-row>
    </ion-grid>

    <div padding id="btns">

      <button ion-button [disabled]="!createTaskForm.valid" (click)="setDeadline()" full class="taskBtn">Set task with deadline</button>
      <button ion-button [disabled]="!createTaskForm.valid" (click)="do_task(0)" full class="taskBtn">Set task</button>

      <!--<button ion-button [disabled]="!createTaskForm.valid" (click)="recurring_task()" full  class="taskBtn">Set as Recurring Task</button>-->
    </div>

  </form>
</ion-content>
