<ion-menu [content]="content">

  <ion-content class="menuContent" style="background-color:#087cc9">
    <ion-list>
      <ion-item id="headerItem">
            <img [src]="_DomSanitizationService.bypassSecurityTrustUrl(userInfo.avatar)" class="image-rotate">
            <h1 text-wrap>{{userInfo.first_name}}&nbsp;{{userInfo.last_name}}</h1>
      </ion-item>

      <button class="menuBtns" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>

    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
