#setting{
  background-color: #FFF !important;
}

#setting img{
  width: 90px;
  height: 90px;
}
#setting * {
  border: none;
}
#setting .item-inner:nth-child(1){
  border-top: 1px solid #ccc;
  min-height: 70px !important;
}


#setting ion-icon{
  margin: 10px !important;
}
