#task-list-first-row{
  background-image: url('../assets/images/task_list.jpg');
  background-repeat: no-repeat;
  height: 200px !important;
  margin: 0 !important;
  padding: 0 !important;
}

#task-list-first-row div{
  width: 60%;
  margin: 14% auto;
  text-align: center;
}
#task-list-first-row div h5,#task-list-first-row div h2{
  text-align: center;
  margin-top: 0 !important;
  font-style: italic;
}
#task-list-first-row div img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #FFF;
}


.taskStatus,.taskStatusDone,.taskStatusLapsed,.taskStatusDeleted{
  background-color: #ee7600;
  color:#FFF;
  font-size: 100%;
  text-align: center !important;
  padding: 5px;
  float: right;
  margin-top: -10px;
}
.taskStatusDone{
  background-color: green;
}
.taskStatusDeleted{
  background-color: red;
}
.taskStatusLapsed{
  background-color: brown;
}
.no_result{
  text-align: center;
  font-style: italic;
  color:gray;
  margin-top: 20px;
  padding-top: 30px;
  text-decoration: line-through;
}
#mothYear .item-inner,#mothYear ion-item,#mothYear ion-avatar{
  border: none !important;
  background-color: #f2f2f2 !important;
  vertical-align: middle;
  padding-top: 0;
  font-weight: bold;
}
#mothYear ion-avatar{
  max-width: 1% !important;
  padding-top: 5% !important;
}
#mothYear ion-datetime{
  margin: 0 !important;
  display: block !important;
  min-width: 100% !important;
  text-align: right;
  font-size: 100%;
}
