<!--
  Generated template for the ChildReport page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button  menuToggle>
      <ion-icon name="md-menu"></ion-icon>
    </button>
    <ion-title><img src="assets/icon.png" alt=""> <span>Task List</span> </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid style="margin:0;padding:0">
      <ion-row id="task-list-first-row">
        <ion-col>
          <div>
            <img [src]="_DomSanitizationService.bypassSecurityTrustUrl(child.avatar)">
          </div>
        </ion-col>
      </ion-row>
      <ion-row style="margin:0;padding:0">
        <ion-col text-center>
            <h2 text-wrap>{{child.first_name}}&nbsp;{{child.last_name}}</h2>
            <h5>Points : {{child.points}}</h5>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <button ion-button  class="calBtn" (click)="createTask()" full icon-right color="light">Create Task&nbsp; <img id="addIcon" src="assets/images/add.png" alt=""></button>
        </ion-col>
        <ion-col col-6 id="mothYear">
          <ion-item>
            <ion-datetime displayFormat="MMM YYYY" pickerFormat="MMM YYYY" (ionChange)="filter()" [(ngModel)]="reportDate"></ion-datetime>
            <ion-avatar item-right>
              <ion-icon name="arrow-down"></ion-icon>
            </ion-avatar>
          </ion-item>
        </ion-col>
      </ion-row>
  </ion-grid>

<div>
  <ion-segment [(ngModel)]="tasks_segment">
    <ion-segment-button value="open_tasks" color="primary" (ionSelect)="tasksStatusChange('open',true)">
      Pending Tasks
    </ion-segment-button>
    <ion-segment-button value="close_tasks" color="primary" (ionSelect)="tasksStatusChange('closed',true)">
      Closed Tasks
    </ion-segment-button>
  </ion-segment>
</div>

<div [ngSwitch]="tasks_segment" padding>
  <ion-list *ngSwitchCase="'open_tasks'">
      <h4 color="default" [hidden]="tasks.length>0" class="no_result">Tasks</h4>
      <ion-item *ngFor="let task of tasks" class="myRow" (click)="taskDetails(task._id,child_avatar)">
        <ion-avatar item-left>
          <img [src]="_DomSanitizationService.bypassSecurityTrustUrl(task.parent.avatar)" alt="">
        </ion-avatar>

        <ion-row>
          <ion-col col-7>
            <p text-wrap>{{ task.title }}</p>
          </ion-col>
          <ion-col col-5>
            <span text-wrap class="taskStatus" *ngIf="task.waiting&&user._id==task.child">Pending Approval</span>
            <span text-wrap class="taskStatusDone" *ngIf="task.waiting&&user._id==task.parent._id">Approve Completion</span>
          </ion-col>
        </ion-row>
      </ion-item>

    </ion-list>

  <ion-list *ngSwitchCase="'close_tasks'">
      <h4 color="default" [hidden]="tasks.length>0" class="no_result">Tasks</h4>
      <ion-item *ngFor="let task of tasks" class="myRow" (click)="taskDetails(task._id,child_avatar)">
          <ion-avatar item-left>
            <img [src]="_DomSanitizationService.bypassSecurityTrustUrl(task.parent.avatar)" alt="">
          </ion-avatar>
      <ion-row>
          <ion-col col-7>
            <p text-wrap>{{ task.title }}</p>
          </ion-col>
          <ion-col col-5>
            <span text-wrap class="taskStatusDone" *ngIf="task.done">Done</span>
            <span text-wrap class="taskStatusDeleted" *ngIf="task.deleted">Deleted</span>
            <span text-wrap class="taskStatusLapsed" *ngIf="task.lapsed">Time Lapsed</span>
          </ion-col>
        </ion-row>
      </ion-item>

    </ion-list>

</div>
</ion-content>
