<!--
  Generated template for the CreateTask page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="md-menu"></ion-icon>
    </button>
    <ion-title><img src="assets/icon.png" alt=""> <span>Recurring Task</span> </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding id="recurring-task">
  <form>
    <ion-grid>


        <ion-row id="thirdRow">
          <ion-col col-6>
            <ion-select (ionChange)="period_change()" [(ngModel)]="period" name="period">
              <ion-option selected="selected" value="31">Day</ion-option>
              <ion-option value="52">Week</ion-option>
              <ion-option value="12">Month</ion-option>
            </ion-select>
          </ion-col>

          <ion-col col-6>
            <ion-select [(ngModel)]="number" name="number">
              <ion-option *ngFor="let n of numbers" value="{{n}}">{{n}}</ion-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h6>Start Recurring From :</h6>
          </ion-col>
          <ion-col col-6>
            <ion-select (ionChange)="start_date_change($event)">
              <ion-option selected value="now">Now</ion-option>
              <ion-option value="custom">Custom Date</ion-option>
            </ion-select>
            <span [hidden]="!start_date">{{start_date}}</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h6>Stop Recurring At :</h6>
          </ion-col>
          <ion-col col-6>
            <ion-select (ionChange)="end_date_change($event)">
              <ion-option selected value="never">Never</ion-option>
              <ion-option value="custom">Custom Date</ion-option>
            </ion-select>
            <span [hidden]="!end_date">{{end_date}}</span>
          </ion-col>
        </ion-row>
    </ion-grid>

    <div padding id="btns">
      <button ion-button  full  (click)="setRecurring()" class="taskBtn">Set</button>
    </div>

  </form>
</ion-content>
